/* Global style*/
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background-color: #111111;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
img {
    width: 100%;
}
p, h1 {
    cursor: default;
}
/* Section styles */
nav {
    display: flex;
    justify-content: space-between;
}
.header-image {
    background-image: url(./images/Hamburger.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-image h1 {
    position: absolute;
    top: 250px;
    font-family: 'Ultra', serif;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 4rem;
}
.left {
    width: 110px;
    height: 20px;
    background-color: #111111;
}
.bun {
    max-width: 600px;
    margin: 2rem auto;
    border: none;
}
.bun fieldset {
    padding: 1.5rem 0 2rem 2rem;
}